{{#with cat}}
<h1>{{name}}</h1>
<img class="cube" src="/static/images/{{imageUrl}}">
<div class="details">
	<p><span>Description:</span>{{description}}</p>
	<p><span>Stars:</span>{{stars}}</p>
	<a class="btn" href="/">Back</a>
	<a class="btn" href="/add-toy/{{id}}">Add Toy</a>
	<a class="btn" href="/edit/{{id}}">Edit</a>
	<a class="btn" href="/delete/{{id}}" style="background-color: red">Delete</a>
</div>
<h2>Accessories</h2>
<div class="accessories">
	{{#each toys}}
	{{> toy}}
	{{else}}
	<h3 class="italic">This cube has no accessories yet...</h3>
	{{/each}}
</div>
{{/with}}